<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>Checkout Page</title>
    <link rel="stylesheet" href="scss/checkout.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   {{>header}}
    <!-- Body Section -->
    <main>
        <div id="checkout-container">
            <h1 id="main-heading">Checkout</h1>
            <h3 class="items-section">Total Items: <span id="item-count">3</span></h3>
            <div class="all-sections">
                <div id="left-section">
                    
                </div>
                <div id="right-section">
                    <h3 class="section-heading">Total Amount</h3>
                    <p class="amount-section">Amount: Rs<span id="total-amount">0</span></p>
                    <button id="btn-place-order">Place Order</button>
                </div>
            </div>
    </main>

    {{>Footer}}
    <!-- Script -->
    <script src="../Javascript/base.js"></script>
    <script src="../Javascript/checkout.js"></script>
</body>
</html>

<!-- Test -->
