<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>Product Details</title>
    <link rel="stylesheet" href="scss/details.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {{>header}}

    <!-- Body Section -->
    <main>
        <div id="main-container">
            <div id="project-container">
        </div>
    </div>
    </main>

    <!-- Footer -->
    {{>Footer}}
    <script src="../Javascript/details.js"></script>
    <script src="../Javascript/base.js"></script>
</body>
</html>