<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
    <title>Thankyou page</title>

    <link rel="stylesheet" href="scss/thankyou.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {{>header}}

    <!-- body Section -->
    <main>
        <div class="success-section">
            <img src="../images/thank_you_PNG99.png" alt="" class="thankyou-image">
            <h3 class="thankyou-heading-1">Order Placed Successfully!!</h3>
            <p class="thankyou-heading-2">We have sent you an email with the order details..</p>
        </div>
    </main>

    <!-- Footer -->
    {{>Footer}}

    <!-- Script -->
    <script src="../Javascript/base.js"></script>
</body>
</html>