<!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <p class="footer-heading">Online Store</p>
                <a href="/" class="footer-link">Men Clothing</a>
                <a href="/" class="footer-link">Women Clothing</a>
                <a href="/" class="footer-link">Men Accessories</a>
                <a href="/" class="footer-link">Women Accessories</a>
            </div>
            <!-- Footer Section 2 -->
            <div class="footer-section">
                <p class="footer-heading">Helpful Links</p>
                <a href="/" class="footer-link">Home</a>
                <a href="/" class="footer-link">About</a>
                <a href="/" class="footer-link">Contact</a>
            </div>
            <!-- Footer Section 3 -->
            <div class="footer-section">
                <p class="footer-heading">Partners</p>
                <a href="/" class="footer-link">Zara</a>
                <a href="/" class="footer-link">pentaloons</a>
                <a href="/" class="footer-link">Levis</a>
                <a href="/" class="footer-link">UCB</a>
                <a href="/" class="footer-link">+Many More</a>
            </div>
            <!-- Footer Section 4 -->
            <div class="footer-section">
                <p class="footer-heading">ADDRESS</p>
                <a href="/" class="footer-link">BUILDING 101</a>
                <a href="/" class="footer-link">CENTRAL AVENUE</a>
                <a href="/" class="footer-link">LA - 902722</a>
                <a href="/" class="footer-link">UNITED STATES</a>
            </div>
        </div>
        <div class="copyright-section">
            <p class="copyright">© Copyright 2022. Designed By Sahil Dua</p>
        </div>
    </footer>