<section id="header">
        <div class="menu-container">
            <!-- Left Section -->
            <div class="left-section">
                <div class="logo">
                    <a href="/">
                        <img src="../images/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="menus">
                    <a class="menu-item" href="/#clothing">Clothing</a>
                    <a class="menu-item" href="/#accessory">Accessories</a>
                </div>
            </div>
            <!-- Middle Section -->
            <div class="middle-section">
                <div class="search-option">
                    <i class="fas fa-search"></i>
                    <input type="text" id="search" name="Search" placeholder="Search for Clothing and Accessories">
                </div>
            </div>
            <!-- Right Section -->
            <div id="right-menu">
                <div id="cart-wrapper">
                    <p id="cart-count">0</p>
                    <a href="checkout"><i class="fas fa-shopping-cart"></i></a>
                </div>
                <img src="./images/avatar.jpg" />
            </div>
        </div>
    </section>